{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}

    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="card text-center text-white" id="total-panding">

                <div class="card-header">
                    <h5 class="card-title">Are you sure you want to delete {{ order.product }} {{ order.product.category }} for {{ order }} ?</h5>
                </div>
                
                <form action='{% url 'delete_order' order.id %}' method='POST'>
                    {% csrf_token %}

                    <div class="card-body">
                        <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
                        <input class="btn btn-danger" type='submit' name='Confirm'>
                    </div>

                </form>
            </div>
        </div>
    </div>



{% endblock %}